h1{
  margin-top: .3px;
  color: purple;
  font-family: "Courier New"
}
 h2{
  margin-top: .80;
  color: sky blue;
  front-family:"Courier New"
}
#special{
  font-family: "Comic Sans MS";
}

body{
  background-image: url('https://github.com/DenasiaWilson/denasiawilson.github.io/blob/master/denasia-code.jpg?raw=true');
}

h3, p, li, h2{
  color: pink;
}
#first, #second{
  width:48%;
  display: inline-block;
  vertical-align: top;
}
